body {margin:0 auto;
}
.header
{ height:26px;
  width:100%;
  background-image:url(/img1/2.png); 
  position: fixed;
  z-index:100;
  font-size:14px;
  margin:0 auto;
  vertical-align:middle;
}
s
{
    text-decoration: line-through;
    }
.big
{
    margin:0 auto;
    width:1000px;
    }
.header p
{ width:700px;
  margin-left:300px;
  margin-top:0px;
  padding-top:3px;
    }
.two
{ width:150px;
  height:80px;
  float:left;
  margin-right:60px;
  background-image:url(/img1/logo.png);
  margin-top:30px;
    }
.SearchBar
{ 
  width:500px;
  height:80px;
  float:left;
  margin-right:20px;
  margin-top:20px;
      }
 .ss
 { padding-left:38px;
   padding-top:38px;
    height: 38px;
}
.ss img
{  z-index:-10;
   position:inherit;
    }
.so
{ margin-left:350px;
  margin-top:8px;
  color:#ffffff;
  position:absolute;
  z-index:110;
}
.five
{ width:260px;
  height:29px;
  float:left;
  padding-top:47px;
  margin-top:30px;
    }
.six
{ height:200px;
  float:left;
  width: 1000px;
}
.si
{ height:180px;
  border:1px solid #f2f2f2;
    }
.seven
{ width:200px;
  height:300px;
  float:left;
  margin-right:1px;
  margin-top:2px;
    }
.haha
{ background-color:#e16c03;
  height:20px;
  padding-top:7px;
  padding-left:50px;
  
    }
.lala
{ height:268px;
  border:2px solid #e16c03;
  
    }
.eight
{ width:798px;
  height:297px;
  float:left;
  margin-top:1px;
}
.gaga
{ height:22px;
  background-color:#e16c03;
  border:2px solid #d7d7d7;
  padding-top:5px;
  padding-left:3px;
    }
.mm
{ height:255px;
  border:1px solid #f2f2f2;
  margin-left:2px;
  margin-top:2px;
    }
.nine
{ width:1000px;
  height:300px;
  clear:both;
    }
.ps
{   width:150px;
    height:30px;
    background-image:url(/img1/1.png);
    padding-left:50px;
    }
.js{height:270px;
    text-align:center;
    border-top:2px solid #d7d7d7;
    }
.ten
{ height:300px;
    }
.as{ width:150px;
     height:30px;
     background-image:url(/img1/1.png);
     padding-left:50px;
    }
.bs{height:270px;
    text-align:center;
    border-top:2px solid #d7d7d7;
    }
.eleven
{ height:300px;
    }
.cs{ width:150px;
     height:30px;
     background-image:url(/img1/1.png);
     padding-left:50px;
    }
.ds{height:270px;
    text-align:center;
    border-top:2px solid #d7d7d7;
    }
.twelve
{ height:300px;
  border-top:2px solid #d7d7d7;
    }
.tt
{ color:#737373;
  font-size:xx-small;
    }
    
.DivBottom
{
    width:80px; float:left;height:35px;text-align:center; 
    line-height:35px;
    color:Gray;
}
.w1{width: 890px;margin: 0 auto;}
#entry .extra-en {position: absolute;right: 20px;top: -20px;}
#entry .form {position: absolute;top: 18px;right: 32px;width: 320px;overflow: hidden;height: 354px;}
.mainbox{
    overflow:hidden;
    position:relative;
}
.flashbox{
   overflow:hidden;
    position:relative;
}
.imagebox{
    text-align:right;position:relative;z-index:999;
}

.bitdiv{display:inline-block;width:18px;height:18px;margin:0 10px 10px 0px;cursor:pointer;float:right;}
.defimg{background-image:url(../image/02.png)}
.curimg{background-image:url(../image/01.png)}
 ul li
      {
      	list-style:none;
      	border: 1px solid #EAEAEA; 
        height:13px; 
        padding-top:8px;
        line-height:18px;
        cursor:pointer;
        font-size:14px;
      }


.div_a1-keleyi-com 
{
       width:300px;
       height:100px;
       left:195px;
       top:-25px;
        position:relative;
        background-color:#e16c03;
        z-index:999; 
        display:none;
        border: 1px solid #EAEAEA; 
        padding-top:8px;
        line-height:18px;
        cursor:pointer;
        font-size:14px;}
.lala li:hover .div_a1-keleyi-com{ display:block;}.div_a a{ color:white;}
a:link {text-decoration: none;color:#000000}
        a:visited {text-decoration: none;}
        a:active {text-decoration: none;}
        a:hover {text-decoration: none;}      
.span{ 	padding-left:18px}

.lightbox{width:800px;background:#FFFFFF;border:1px solid #ccc;line-height:25px; top:20%; left:20%;}
.lightbox dt{background:#f4f4f4; padding:5px;}

.button{padding:0 15px; margin-left:10px; line-height:30px; border:none; background-color:#F26C4F; color:#fff; border-radius:3px; cursor:pointer;}
.button:hover{background-color:#EF502E; color:#fff;}

.formLib{padding:20px 0; clear:both;}
.formLib input{padding:0 10px; height:36px; border:1px solid #ccc; background: url(http://sentsin.com/lily/lib/layer/skin/default/textbg.png) #fff repeat-x;}
.formLib .form_lilib{position:relative; margin-bottom:20px; font-size:0;}
.form_lilib {display:inline-block;display:inline; zoom:1; vertical-align:top; font-size:14px; line-height:36px;}
.form_lilib label{width:100px; height:36px; text-align:right; padding-right:5px; overflow:hidden; text-overflow: ellipsis; white-space:nowrap;}
.form_lilib span{padding:0 5px;}
.from_msg{padding-left:10px; font-size:12px; color:#999;}
.from_msg a{color:#3595CC}
.form_libtn{padding-left:105px; font-size:12px; color:#999;}
.formLib .BB_button{line-height:30px; padding:0 30px; border:none; background:#f40; color:#fff; }

      